
	 
	
	 h1{ background-image:url("https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
font-style:italic; color:maroon; margin-left:0;font-size:40px; background-repeat:no-repeat;text-align:center; background-position:center;}
	
	h3{text-transform:uppercase;}

	 h2{font-family:serif;font-size:large ; text-transform:capitalize;}
	 .san{font-weight:700; font-size:20; color:blue; border-radius: 50% ; background-image:url("https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");border:0px;letter-spacing:5px;text-transform:lowercase;text-shadow:60px 400px 0px green;}



	 .san1{color:red; font-weight:bold; direction:rtl;text-align:center; text-decoration:underline;}
	 .ss{word-spacing:5px;color:blue;text-decoration:line-through;}
	 .s1{text-intend:10cm;background-color:green;text-decoration:overline;}

	img.pan{height:200;width:400; border:5px ;  opacity: .900}




